/*
 * The syntax light mode code snippet colors.
 */



@mixin light-syntax {

  $highlight-background   : #f7f7f7;
  $highlight-foreground   : #4d5472;
  $highlight-comment      : #8e908c;
  $highlight-red          : #e45649;
  $highlight-orange       : #986801;
  $highlight-yellow       : #c18401;
  $highlight-green        : #50a14f;
  $highlight-aqua         : #0184bb;
  $highlight-blue         : #4078f2;
  $highlight-purple       : #a626a4;

  /* see: <https://raw.githubusercontent.com/jwarby/pygments-css/master/github.css> */
  .highlight .hll { background-color: #ffffcc; } 
  .highlight .c   { color: $highlight-comment; } /* Comment */
  .highlight .err { color: $highlight-red; } /* Error */
  .highlight .k   { color: $highlight-purple; } /* Keyword */
  .highlight .l   { color: $highlight-orange; } /* Literal */
  .highlight .n   { color: $highlight-foreground; } /* Name */
  .highlight .o   { color: $highlight-aqua; } /* Operator */
  .highlight .p   { color: $highlight-foreground; } /* Punctuation */
  .highlight .cm  { color: $highlight-comment; } /* Comment.Multiline */
  .highlight .cp  { color: $highlight-green; } /* Comment.Preproc */
  .highlight .c1  { color: $highlight-comment; } /* Comment.Single */
  .highlight .cs  { color: $highlight-comment; } /* Comment.Special */
  .highlight .gd  { color: $highlight-red; } /* Generic.Deleted */
  .highlight .ge  { font-style: italic; } /* Generic.Emph */
  .highlight .gh  { font-weight: bold; color: $highlight-foreground; } /* Generic.Heading */
  .highlight .gi  { color: $highlight-green; } /* Generic.Inserted */
  .highlight .gp  { font-weight: bold; color: $highlight-comment; } /* Generic.Prompt */
  .highlight .gs  { font-weight: bold; } /* Generic.Strong */
  .highlight .gu  { font-weight: bold; color: $highlight-aqua; } /* Generic.Subheading */
  .highlight .kc  { color: $highlight-purple; } /* Keyword.Constant */
  .highlight .kd  { color: $highlight-purple; } /* Keyword.Declaration */
  .highlight .kn  { color: $highlight-aqua; } /* Keyword.Namespace */
  .highlight .kp  { color: $highlight-purple; } /* Keyword.Pseudo */
  .highlight .kr  { color: $highlight-purple; } /* Keyword.Reserved */
  .highlight .kt  { color: $highlight-purple; } /* Keyword.Type */
  .highlight .ld  { color: $highlight-green; } /* Literal.Date */
  .highlight .m   { color: $highlight-orange; } /* Literal.Number */
  .highlight .s   { color: $highlight-green; } /* Literal.String */
  .highlight .na  { color: $highlight-blue; } /* Name.Attribute */
  .highlight .nb  { color: $highlight-foreground; } /* Name.Builtin */
  .highlight .nc  { color: $highlight-yellow; } /* Name.Class */
  .highlight .no  { color: $highlight-red; } /* Name.Constant */
  .highlight .nd  { color: $highlight-aqua; } /* Name.Decorator */
  .highlight .ni  { color: $highlight-foreground; } /* Name.Entity */
  .highlight .ne  { color: $highlight-red; } /* Name.Exception */
  .highlight .nf  { color: $highlight-purple; } /* Name.Function */
  .highlight .nl  { color: $highlight-blue; } /* Name.Label */
  .highlight .nn  { color: $highlight-yellow; } /* Name.Namespace */
  .highlight .nx  { color: $highlight-blue; } /* Name.Other */
  .highlight .py  { color: $highlight-foreground; } /* Name.Property */
  .highlight .nt  { color: $highlight-aqua; } /* Name.Tag */
  .highlight .nv  { color: $highlight-foreground; } /* Name.Variable */
  .highlight .ow  { color: $highlight-aqua; } /* Operator.Word */
  .highlight .w   { color: $highlight-foreground; } /* Text.Whitespace */
  .highlight .mf  { color: $highlight-orange; } /* Literal.Number.Float */
  .highlight .mh  { color: $highlight-orange; } /* Literal.Number.Hex */
  .highlight .mi  { color: $highlight-orange; } /* Literal.Number.Integer */
  .highlight .mo  { color: $highlight-orange; } /* Literal.Number.Oct */
  .highlight .sb  { color: $highlight-green; } /* Literal.String.Backtick */
  .highlight .sc  { color: $highlight-foreground; } /* Literal.String.Char */
  .highlight .sd  { color: $highlight-comment; } /* Literal.String.Doc */
  .highlight .s2  { color: $highlight-green; } /* Literal.String.Double */
  .highlight .se  { color: $highlight-orange; } /* Literal.String.Escape */
  .highlight .sh  { color: $highlight-green; } /* Literal.String.Heredoc */
  .highlight .si  { color: $highlight-orange; } /* Literal.String.Interpol */
  .highlight .sx  { color: $highlight-green; } /* Literal.String.Other */
  .highlight .sr  { color: $highlight-green; } /* Literal.String.Regex */
  .highlight .s1  { color: $highlight-green; } /* Literal.String.Single */
  .highlight .ss  { color: $highlight-green; } /* Literal.String.Symbol */
  .highlight .bp  { color: $highlight-foreground; } /* Name.Builtin.Pseudo */
  .highlight .vc  { color: $highlight-red; } /* Name.Variable.Class */
  .highlight .vg  { color: $highlight-red; } /* Name.Variable.Global */
  .highlight .vi  { color: $highlight-red; } /* Name.Variable.Instance */
  .highlight .il  { color: $highlight-orange; } /* Literal.Number.Integer.Long */

  /* --- custom light colors --- */
  --highlight-bg-color: #f6f8fa;
  --highlighter-rouge-color: #0086B3;
  --highlight-lineno-color: #c2c6cc;
  --highlight-lineno-border-color: #e9ecef;
  --inline-code-bg: #f6f8fa;
} // light-syntax
